body {
  background-color: #d8cec6f2;
  overflow: hidden;
}
.banner {
  height: 100vh;
  position: relative;
}

.banner .product {
  width: 500px;
  height: 5%;
  left: 50%;
  top: 160px;
  transform: translateX(-50%);
  position: absolute;
  z-index: 2;
  transition: 0.7s;
  --left: 0px;
  display: flex;
}
.banner .product .soda {
  background: var(--url) var(--left) 0, url(./pics/mockup.png);
  background-size: auto 100%;
  aspect-ratio: 2/4;
  width: 230px;
  background-blend-mode: multiply;
  mask-image: url(./pics/mockup.png);
  mask-size: auto 100%;
  transition: 0.7s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.banner .product:hover {
  --left: -1000px;
  transform: translateX(-50%) translateY(-130%);
}
.soda:nth-child(2) {
  opacity: 0;
}
.product:hover {
  bottom: 300px;
}
.product:hover .soda:nth-child(2) {
  opacity: 1;
  --left: 500px;
}
.product:hover .soda:nth-child(1) {
  opacity: 0;
  --left: 500px;
}

.rock {
  position: absolute;
  inset: 0 0 0 0;
  width: 100%;
  pointer-events: none;
}
.rock img:nth-child(1) {
  position: absolute;
  height: 130px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  transition: 0.7s;
  z-index: 1;
  opacity: 0.9;
}
.rock img:nth-child(2) {
  position: absolute;
  height: 50%;
  left: -10px;
  bottom: 0;
  transition: 0.7s;
  opacity: 0.9;
}
.rock img:nth-child(3) {
  position: absolute;
  height: 100%;
  right: 0;
  bottom: -100px;
  rotate: -25deg;
  transition: 0.7s;
  opacity: 0.9;
}
.product:hover + .rock img:nth-child(1) {
  transform: translateX(-50%) translateY(5%);
}
.product:hover + .rock img:nth-child(2) {
  transform: translateX(-15%) translateY(10%);
}
.product:hover + .rock img:nth-child(3) {
  transform: translateX(15%) translateY(10%);
}
.buttons {
  position: absolute;
  bottom: 20px;
  left: 50%;
  padding: 10px;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  gap: 10px;
}
